@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
* {
	margin: 0px;
	padding: 0px;
	font-family: Myriad Pro, Arial;
	color: #000000;
	font-size: 14px;
}

img,object,embed,video,div {
	
}

.ie6 img {
	
}

.fluid {
	clear: both;
	float: left;
	display: block;
}

.fluidList {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	clear: none;
	float: none;
}

#principal {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#div1 {
	margin-left: auto;
	margin-right: auto;
}

.alingRigth label {
	display: block;
	text-align: right;
}

.alingLeft label {
	display: block;
	text-align: left;
}

#topo {
	background-color: #8C0000;
	height: 10px;
}

#menuTopo {
	background-image: url("../img/img_topo.fw.png");
	height: 60px;
	background-repeat: repeat-x;
}
/** Menu Superior*/
#menu1 {
	background-color: #E9E9E9;
	height: 35px;
}

.menuSuperior {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.menuSuperior ul {
	list-style: none;
}

.menuSuperior ul li {
	display: inline;
}

.menuSuperior ul li a {
	text-decoration: none;
	color: #666666;
	padding: 10px 48px;
	display: inline-block;
	font-weight: bold;
}

.menuSuperior ul li a:HOVER {
	color: #DE7205;
}

/** FIM Menu Superior*/

/** Menu Interno Superior*/
#menu2{
	background-color:#8C0000;;
	width:960px;
	height:35px;
	
}

.menuInternoInterior{
	margin-left: 60px;
}

.menuInternoInterior ul{
	list-style:none;
}

.menuInternoInterior ul li{
	display: inline;
}

.menuInternoInterior ul li a{
	text-decoration: none;
	color: #FFF;
	padding: 10px 5px;
	display: inline-block;
	font-weight: bold;
}

.menuInternoInterior ul li a:HOVER{
	color: #666666;
}


/** Fim Menu Interno Inferior*/


/** css rodape*/
#rodape{
	background-color:#222222;
	width:100%;
	height:200px;
}

#rodInterno{
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.logoRodape{
	margin-top: 90px;
	margin-left: 60px;
}
.diretosReservados{
	margin-left: 140px;  
	margin-top: -18px; 
	font-size: 14px;
}
.diretosReservados font{
	color: #FFF; 
	margin-top: 5px;
}
.facebook{
	margin-left: 400px; 
	margin-top: -30px;
}
.twitter{
	margin-left: 445px; 
	margin-top: -35px;
}
/** Fim css rodape*/

.zeroMargin_mobile {
	margin-left: 0;
}

.hide_mobile {
	display: none;
}

#alinhamento {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.menuRodape {
	margin-left: 60px;
}

.menuRodape ul {
	list-style: none;
}

.menuRodape ul li {
	display: inline;
}

.menuRodape ul li a {
	text-decoration: none;
	color: #FFF;
	padding: 0px 5px;
	display: inline-block;
	font-weight: bold;
}

.menuRodape ul li a:HOVER {
	color: #8C0000;
}

.topCad {
	margin-top: 40px;
	width: 960px;
}
/*-----------------------------HEADER - TOPO-LOGIN--------------------------*/
.login {
	margin-left:auto;
	margin-right:auto;
	width: 960px;
}

.login .loca-age {
	float: left;
}

.login .loca-age ul li {
	display: inline;
	margin-right: 10px;
	margin-top: 9px;
}

.login .loca-age .bt-localizador {
	background: url("../img/bt-localizar-over.png") no-repeat scroll 0 0
		transparent;
	display: block;
	float: left;
	height: 45px;
	text-indent: -999999px;
	width: 270px;
}

.login .loca-age .bt-localizador:hover {
	background: url(../img/bt-localizar.png) no-repeat;
}

.login .loca-age .bt-agendar {
	background: url(../img/bt-agendar-over.png) no-repeat;
	text-indent: -999999px;
	float: left;
	width: 180px;
	height: 45px;
	display: block;
}

.login .loca-age .bt-agendar:hover {
	background: url(../img/bt-agendar.png) no-repeat;
}

.login .form-login ul li {
	display: inline;
	margin-right: 10px;
	float: left;
}

.login .form-login ul li #login1_txtSenha {
	
	margin-top:15px;
}

.login .form-login ul li #login1_txtUsuario {
	margin-top:15px;
}

.login .form-login {
	color: #666666;
	float: left;
	font-size: 14px;
	font-weight: bold;
}

.login .form-login input {
	height: 28px;
	width: 100px;
	border-radius: 5px 5px 5px 5px;
	margin-left: 10px;
	font-size: 12px;
	padding: 3px;
}

.login .form-login input #txtUsuario {
	height: 28px;
	margin-left: 5px;
	width: 70px;
}

.login .form-login span {
	font-size: 12px;
}

.login .form-login #button {
	height: 28px;
	margin-left: 5px;
	width: 70px;
}

.btnSair {
	float: none;
	margin-left: 10px;
}

.bt-conta {
	background-color: #FF7200;
	border: 10px solid #FF7200;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	float: none;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

.bt-conta1 {
	background-color: #FF7200;
	border: 10px solid #FF7200;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	float: none;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
/*-----------------------------MENU 1--------------------------*/
@media only screen and (max-width: 1024px) {
	.gridContainer {
		margin-left: auto;
		margin-right: auto;
		width: 88.5%;
		max-width: 1232px;
		padding-left: 0.75%;
		padding-right: 0.75%;
		margin: auto;
		clear: none;
		float: none;
		margin-left: auto;
	}
	#principal {
		margin-left: auto;
		margin-right: auto;
		width: 78%;
	}
	#div1 {
		margin-left: auto;
		margin-right: auto;
	}
	.zeroMargin_desktop {
		margin-left: 0;
	}
	.hide_desktop {
		display: none;
	}
	#alinhamento {
		margin-left: 100px;
	}
}
